html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.body{
    font-family: "Bebas Neue";

}

.navTitle{
    font-family: "Bebas Neue";
    font-size: 21px;
    margin-left: 20px;
    color:black;
}

.title{
    text-align: left;
    font-size: 40px;
    font-family: "Montserrat";
    width:30px;
}


.carImage{
    width:90%;
}

.nav{
    width:100%;
    height:35px;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    padding-right: 2px;
    z-index: 9;
    backdrop-filter: blur(5px);
    gap:20px;
    background-color: rgba(255, 255, 255, 0.233);
    /* border: 1px solid; */
}


.linksContainer{
    height:100%;
    position: absolute;
    right: 0;
    top:0.5px;
    display: flex;
    align-items: center;
}
    

.links{
    display: flex;
    justify-content: space-between;
    width:20%;
    right:20px;

}
.links a {
    text-decoration: none;
    font-size: 20px;
}



.mainCars{
    width:100%;
    margin-top: 10vh;
    display: grid;
}



.hero{
    position: relative;
    height:92vh;
    width:100%;
    left:0;
    top:35px;

    display: flex;  
}

.heroleftColumn{
    width:26%;
    height:calc(100%-20px);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin:10px;
    padding:20px;
}
.heroleftColumn p {
    font-family:"Inter";
    color:rgb(0, 0, 0);
}

.herorightColumn{
    width:70%;
    display:flex;
    overflow-x: scroll;
    overflow-y: hidden;
    height:100%;
    justify-content: center;
}

::-webkit-scrollbar{
    display: none;
}


.clm{
    width:20vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    transition:all 0.5s;
}

.clm:hover{
    width:80vw;
    height:100vh;
}
.clm1:hover{
    width:35vw;
}

.vid{
    height:100vh;
}


.link{
    color:black;
    padding:2px;
    text-decoration: none;
    font-family: "Bebas Neue";
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    transition: all 0.5s;
}



.heroleftColumn div .link{
    padding: 10px;
}

.heroleftColumn div h1{
    font-family: "Bebas Neue";
    font-size: 60px;
}

details{
    font-size: 20px;
    margin-right:5vw;
    margin-left:5vw
}



.bruh{
    width:350px;
}

.link:hover{
    background-color: black;
    color: white;
}


.bodyContainer{
    width:calc(100vw - 30px);
    height:calc(100vh - 205px);
    margin:5px;
    display: flex;
    align-items: center;
}

.bodyLeftColumn{
    width:250px;
    
}
.bodyRightColumn{
    width:calc(75%);
    right:10px;
    height:100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}
.leftContent{
    width:calc(100%-10px);
    height:100%;
    display: flex;
    justify-content: center;
}
.filterTitle{
    height:30px;
    background-color: black;
    color:white;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue";
    

}
.filter{
    width:100%;
    text-align: center;
    font-size: 30px;
    font-family: "Bebas Neue";
}


.boxWanted{
    border:1px solid;
}

.search{
    width:100%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom:20px;
}

.search input{
    height: 30px;
    width:50%;

    background-color: rgb(221, 218, 218);
    border-radius: 10px;
    box-shadow: none;
    z-index: 99;

}

.search button{
    height: 40px;
    width:80px;
    z-index: 9;
    text-align: center;
    background-color: black;
    color:white;
    border-radius: 10px;

}


.carsGrid{
    width:75vw;
    height:80%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    overflow-y: scroll;
    overflow-x: hidden;
    gap:10px;
    padding: 20px;
    position: relative;
    top:30px;

}


.apply{
    width:100%;
    height:50px;
    background-color: black;
    color:white;
}

.filterContent{
    font-size: 20px;
    height:62vh;

}
button{
    box-shadow: none;
}

.gridImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    
}
.gridImg{
    height:100%;
}

.carsGrid div .gridImgContainer{
    height:200px;
    margin: 10px;
    filter:blur(0px);
    border-radius: 5px;
}
.carsGrid div .gridImgContainer:hover{
    position: relative;
    left:-10%;
    width:110%;
    z-index: 99;
    filter:blur(1px);
    transition : all 0.5s ease;
}

select option{
    background: red;
    color:blue;
}
