html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: "Bebas Neue";

}

.navTitle{
    font-family: "Bebas Neue";
    font-size: 21px;
    margin-left: 20px;
    color:black;
}

.title{
    text-align: left;
    font-size: 40px;
    font-family: "Montserrat";
    width:30px;
}


.carImage{
    width:90%;
}

.nav{
    width:100vw;
    height:35px;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    padding-right: 2px;
    z-index: 9;
    backdrop-filter: blur(5px);
    gap:20px;
    background-color: rgba(255, 255, 255, 0.233);
    /* border: 1px solid; */
}


.linksContainer{
    height:100%;
    position: absolute;
    right: 0;
    top:0.5px;
    display: flex;
    align-items: center;
}
    

.links{
    display: flex;
    justify-content: space-between;
    width:20%;
    right:20px;

}
.links a {
    text-decoration: none;
    font-size: 20px;
}



.mainCars{
    width:100%;
    margin-top: 10vh;
    display: grid;
}



.hero{
    position: relative;
    height:92vh;
    width:100%;
    left:0;
    top:35px;

    display: flex;
}

.heroleftColumn{
    width:26%;
    height:calc(100%-20px);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin:10px;
    padding:20px;
}
.heroleftColumn p {
    font-family:"Inter";
    color:rgb(0, 0, 0);
}

.herorightColumn{
    width:70%;
    display:flex;
    overflow-x: scroll;
    overflow-y: hidden;
    height:100%;
    justify-content: center;
}

::-webkit-scrollbar{
    display: none;
}


.clm{
    width:20vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    transition:all 0.5s;
}

.clm:hover{
    width:80vw;
    height:100vh;
}
.clm1:hover{
    width:35vw;
}

.vid{
    height:100vh;
}


.link{
    color:black;
    padding:2px;
    text-decoration: none;
    font-family: "Bebas Neue";
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    transition: all 0.5s;
}



.heroleftColumn div .link{
    padding: 10px;
}

.heroleftColumn div h1{
    font-family: "Bebas Neue";
    font-size: 60px;
}

details{
    font-size: 20px;
    margin-right:5vw;
    margin-left:5vw
}



.bruh{
    width:350px;
}

.link:hover{
    background-color: black;
    color: white;
}


.bodyContainer{
    width:calc(100vw - 30px);
    height:85vh;
    margin:5px;
    display: flex;
}

.bodyLeftColumn{
    width:250px;
    height:100%;
    display: flex;
    justify-content: center;
   
    flex-direction: column;
    align-items: center;
    
}
.bodyRightColumn{
    width:100%;
    right:10px;
    margin-left: 20px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    border:1px solid;
}
.leftContent{
    width:calc(100%-10px);
    height:100%;
    display: flex;
    justify-content: center;
}
.filterTitle{
    height:30px;
    background-color: black;
    color:white;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue";
    

}
.filter{
    width:100%;
    text-align: center;
    font-size: 30px;
    font-family: "Bebas Neue";
    

}



.search{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom:20px;
}

.search input{
    height: 35.9px;
    width:50%;
    box-shadow: none;
    border:none;
    border:1px solid;
    color: black;
    background-color: transparent;

}

.search button{
    height: 40px;
    width:80px;
    text-align: center;
    background-color: black;
    color:white;
    border:none;

}

.apply{
    width:100%;
    height:50px;
    background-color: black;
    color:white;
}

.filterContent{
    font-size: 20px;
    height:62vh;
}
button{
    box-shadow: none;
}

.carsGrid{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(270px,1fr)) ;
    overflow-y: scroll;
    overflow-x: hidden;
}

.gridImgContainer{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.carsGrid div .gridImg{
    width:90%;
    transition: all 1s;
    position:relative;
    top:0;
}

.carsGrid div .gridImg:hover{
    width:100%;
    position: relative;
    top:20px;
}
.carPrice{
    color:green;
}

.trustheroContainer{
    position:relative;
    left:0;
    width:100%;
    margin-top:20px;
    display: flex;
    justify-content: center;
    height: auto;
}
.trustHeading{
    width:100%;
    display: flex;
    justify-content: center;
}
.trust{
    height:calc(85vh + 40px);
    position: relative;
    display: flex;
    border:1px solid;
    background-color: black;
    justify-content: center;  
}

.boxWanted div select{
    background-color: transparent;
    box-shadow: none;
    border:1px solid;
}

.trustcolumn1{
    background-color: grey;
    width:25%;
    height:85vh;
    border:20px solid;
    transition: all 1s;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x:hidden ;
}

.trustcolumn1 video{
    height:100%;
}
.trustcolumn2{
    width:25%;
    height:85vh;
    border:20px solid;
    transition: all 1s;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x:hidden ;
    background-color: grey;
    opacity: 0.5;
}

.trustcolumn1,
.trustcolumn2,
.trustcolumn3,
.trustcolumn4{
    opacity:0.5;
    text-align: center;
}
.trustcolumn2 video{
    height:100%;
}

.trustcolumn3{
    width:25%;
    height:85vh;
    border:20px solid;
    transition: all 1s;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x:hidden ;
    background-color: grey;
    opacity: 0.5;
}
.trustcolumn4{
    width:25%;
    height:85vh;
    border:20px solid;
    transition: all 1s;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x:hidden ;
    background-color: grey;
    opacity: 0.5;
}

.trustcolumn1:hover,
.trustcolumn2:hover,
.trustcolumn3:hover,
.trustcolumn4:hover{
    border:1px solid;
    transition: all 1s;
    opacity:1;
}

.textBox{
    position: absolute;
    height:200px;
}



.end{
    position: relative;
    display: flex;
    justify-content: center;
    width:100vw;
    gap:10px;
    
}
.white{
    color:white;
}
.nyancat{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.wtu{
    width:100%;
    display: flex;
    justify-content: center;
}
.trusthero{
    height:100%;
    width:300px;
    text-align: center;
}

.block{
    position: relative;
    width:100%;
}

.a1{
    width:100px;
    position: absolute;
    left:-230px;
    top:100px;
    transform: rotate(45deg);
}
.a2{
    width:100px;
    position: absolute;
    left:600px;
    top:00px;
    transform: rotate(45deg);
}
.a3{
    width:100px;
    position: absolute;
    left:750px;
    top:300px;
    transform: rotate(45deg);
}
.a4{
    width:100px;
    position: absolute;
    left:-400px;
    top:00px;
    transform: rotate(45deg);
}
.a5{
    width:100px;
    position: absolute;
    left:-450px;
    top:400px;
    transform: rotate(45deg);
}
.b1{
    width:100px;
    position: absolute;
    left:600px;
    top:200px;
    transform: rotate(45deg);
}
.b2{
    width:130px;
    position: absolute;
    left:-200px;
    top:300px;
    transform: rotate(45deg);
}
.b3{
    width:130px;
    position: absolute;
    top:600px;
    left:-400px;
}

.b4{
    width:200px;
    position: absolute;
    top:250px;
    left:400px;
}
.b5{
    width:200px;
    position: absolute;
    top:700px;
    left:550px;
}

/* p{
    display: inline-block;
}

h3{
    display: inline-block;
} */

strong{
    color:red;
    font-size: 30px;
}

@media(max-width:600px){
    body{
        padding: 0;
        margin: 0;
        overflow-x: none;
    }
    .herorightColumn{
        position: absolute;
        left:0;
        z-index: 0;
        width:100%;
        filter:blur(10px);
        overflow-x: hidden;
        top:0;
        margin:0;
    }
    .heroleftColumn div p{
        color:white;
        width:80vw;
    }
    .heroleftColumn div .link{
        color:black;
        background-color: white;
    }
    .heroleftColumn{
        position: absolute;
        top:0;
        left:0;
        z-index: 9;
        color: white;
        width:100%;
        background-color: rgba(0, 0, 0, 0.403);
        height:100%;
        margin:0;
        padding:0;
    }
    .trustheroContainer{
        overflow-x: hidden;
    }
    .hero{
        margin:0;
        background: url(img/a1.png);
        overflow-y: hidden;
    }
    .trustcolumn1,
    .trustcolumn2,
    .trustcolumn3,
    .trustcolumn4{
        width:100%;
        height:107vh;
        border:0px solid;
        opacity:1;
    }
    .trust{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height:auto;
    }
    .herorightColumn{
        display: none;
        background: url(img/a1.png);
        overflow-y: hidden;
    }
    .text{
        padding:10px;
    }
    .bodyContainer{
        width:100%;

        margin: 0;
        display: flex;
        border:1px solid;
        flex-direction: column;
        left:0;
    }
    .filterContent{
        display:flex;
        border:1px solid;
        font-size: 10px;
        height: auto;
        width:100vw;
        overflow-x: scroll;
        left:0;
        position: absolute;
        left:0;
    }
    .trusthero{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .bodyRightColumn{
        position: relative;
        margin: 0;
        height:auto;
        width:100%;
        padding:0;
        left:0;
    }
    .gridImgContainer{
        padding: 0;
        margin:0;
    }
    .carsGrid{
        padding: 0;
        margin: 0;
        height:auto;
    }
    .carsGrid div .gridImg{
        width:100%;
        position:relative;
        top:0;
    }
    .carsGrid div .gridImg:hover{
        width:100%;
        position: relative;
        top:0;
    }
    .filterTitle{
        text-align: center;
        width:100vw;
    }
    .filter{
        position: absolute;
        left:0;
        background-color: rebeccapurple;
        margin: 0px;
        height:auto;
    }
    .bodyLeftColumn{
        height:420px;
    }

}