.bodyContainer{
    width:calc(100vw - 30px);
    height:calc(100vh - 20px);
    margin:5px;
    border:2px solid;

    display:flex;
}

.bodyLeftColumn{
    border:2px solid;
    background-color: green;
    width:20vw;
}
.bodyRightColumn{
    border:2px solid;
    background-color: rgb(0, 28, 128);
    width:80vw;
}
.leftContent{
    width:calc(100%-10px);
    height:calc(100% - 10px);
    border: 1px solid;
    margin: 5px;
    display: flex;
    justify-content: center;
}
.filterTitle{
    height:30px;
    border:1px solid;

}